.footer {
  background-color: rgb(225, 225, 225);
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 18rem;
}

.footerSection {
  height: 60%;
  text-align: center;
}

.title {
  font-size: large;
  font-weight: 600;
}

.content {
  color: rgb(99, 99, 99);
  font-size: 14px;
 
  display: flex;
  flex-direction: column;
}

.media {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}